body {
    background: whitesmoke;
}
/* **************** Section diaporama **************** */

.container {
    margin: 50px auto;
    width: 900px;    
    overflow: hidden;
    box-shadow: 6px 6px 15px black; 
}
.slider {
    width: 400%;
    transition-duration: 1s;
}
.slide {
    height: 250px;
    width: 880px;
    float: left; 
    background-color: #f1a293;
    border: 10px double mintcream;
}
.texte {
    font-size: 24px;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;    
}
.texte p:nth-of-type(1) {
    text-transform: uppercase;
    font-size: 32px;
}
.texte p:nth-of-type(2) {
    font-size: 20px;
    text-align: right;
    font-style: italic;
}
#diaporama {
    position: relative;
}
#fleches {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 45%;
    left: 10%;
    width: 80%;
}
#fleches .fa {
    border: 1px solid transparent;
    background-color: lightgrey;
    color: maroon;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    box-shadow: 6px 6px 16px grey inset;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.fa:hover {
    font-size: 35px;
    box-shadow: 6px 6px 16px dimgrey inset;    
}
.fa:active {
    box-shadow: 6px 6px 16px black inset;    
    background-color: white;
}


/* **************** Section carte **************** */

#informations {
    display: flex;
    justify-content: space-around;
    align-items: center;
    clear: both;
}
#map {
    height: 500px;        
}
fieldset {
    height: 470px;
}
#map {
    width: 50%;
    border: 2px solid black;
}
#detailsStation {
    width: 30%;
}


/* **************** Section réservation **************** */

#reservation {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
#decompte {
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
    width: 35%;
    text-align: center;
}
#stationSelection {
    color: red;
}
#boutons, #divInput {
    text-align: center;
}
#signature {
    border: 1px solid;
    width: 30%;
}
.fa-pencil {
    margin: 20px;
}
#signature p {
    position: relative;
    bottom: 30px;
    left: 10px;
}